.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-footer {
  padding: 20px;
  background-color: #282c34;
  color: white;
  font-size: 14px;
}
